<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @student.name%>,
    <p>You have been dropped from <%= @section.name %> in CSM. If you believe this is a mistake, please feel free to email us at <a href="mailto:csmberkeley@gmail.com">csmberkeley@gmail.com</a>.
    <p>Best, <br>
    CSM
  </body>
</html>