<div id = "add-comment">
	<%= form_for(new_comment, :remote => true) do |f| %>
		<div class = "field">
			<h4>Add Comment</h4>
			<%= f.text_area :body %>
			<%= hidden_field_tag :section_id, :value => section.id %>
		</div>
		<div class = "actions">
			<%= f.submit "Add Comment" %>
		</div>
	<% end %>
</div>