<div id = "comments">
	<% comments.each do |comment|%>
		<div class = "comment" style = "border: 1px #ccc solid; width: 400px; padding:3px;">
			<b><%= User.find(comment.from_id).name %></b>
			<i style="float:right;"><%= comment.created_at.strftime("%I:%M:%S %p on %b. %d, %Y") %></i>
			<br>
			<%= comment.body %>
			<% if current_user.id == comment.from_id %>
				<%= button_to "Delete", delete_comment_path(comment), method: :delete, :remote => true %>
			<% end %>
		</div>
	<% end %>		
</div>