<div class = "container" style = "margin-top:2%">
  <div class="jumbotron col-md-10 col-xs-12">
    <div class = "container">
      <div style = "text-align: center;">
        <img src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpt1/t31.0-8/11958049_640134586089572_4766057320119972427_o.jpg" width="60%" style = "border-radius:10px" ></img>
        <h1>Welcome To Scheduler!</h1>
        <p>To get started,</p>
        <p><%= link_to '<i class="fa fa-plus"></i> Enroll in Course'.html_safe, new_enrollment_path,   class: "btn btn-lg btn-success"%> <%= link_to '<i class="fa fa-plus"></i> Enroll As Mentor'.html_safe, new_jenroll_path, :class => "btn btn-lg btn-primary" %></p>
      </div>
    </div>
  </div>
</div>