/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

/*look up best practice for this...*/

body {
    height:100%;
}
html {
    height:100%;
}
body > .row {
    height:100%;
}
.sidebar-container {
    height:100%;
    padding-right:0px;
    box-shadow:0 0 1px rgba(100,100,100,.05);
}
.sidebar {
    background-color:white;
    position:relative;
    
    
}
.sidebar > h4 {
    padding-left:10px;
    margin-bottom:0;
}
.sidebar>.nav>li {
    margin-top:0;
}
.sidebar>.nav>li>a {
    border-radius:0;
    color:black;
}
.sidebar>.nav>li.active>a {
    border-radius:0;
    color:white;
}
.sidebar>.nav>li>a:hover {
    border-radius:0;
    color:#428bca;
}
.sidebar>.nav>li.active>a:hover {
    border-radius:0;
    color:white;
}
.sidebar-logo {
    background:url('http://i.imgur.com/CMg4rGP.jpg') no-repeat center;
    height:80px;
    background-size:80%;
    background-color:white;
}
.sidebar hr {
    margin-top:10px;
    margin-bottom:0px;
}