/* Navigation bar CSS */

.navbar-right {
  margin-right: 20px;
}

.navbar-brand {
  padding: 0px;
  margin-left: 20px;
}


/* Main page dividers */
div.content {
  overflow: hidden;
  margin: 60px 40px 40px 40px;

}
